{% extends 'base.html.twig' %}

{% block title %}Hello VtuberController!
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5">
		<h1 class="text-center mb-4">Liste des Vtubers</h1>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
			{% for vtuber in vtubers %}
				<div class="col">
					<a href="{{path('app_collection', {name: (vtuber.name|lower|replace({' ':'_'})), id: vtuber.id})}}" class="text-decoration-none">
						<div class="card shadow-sm">
							<div class="card-body text-center">
								<p class="card-text fw-bold">{{ vtuber.name }}</p>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
