{% extends 'base.html.twig' %}


{% block body %}
	<div class="container mt-5 mb-5">
		<h1 class="text-center mb-4">{{'categories.list'|trans}}</h1>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
			{% for category in categories %}
				<div class="col">
					<a href="{{path('app_category', {name: (category.name|lower|replace({' ':'_'})), id: category.id})}}" class="text-decoration-none">
						<div class="card shadow-sm">
							<div class="card-body text-center">
								<p class="card-text fw-bold">{{ category.name }}</p>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
