<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="{{ asset('images/LOGO_UWUMARKET_3c875d48-e3c8-4942-92e7-13100df8f660.png') }}" alt="Logo UWUMarket" height="50">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">{{ "navbar.creator" | trans}}</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
					<div class="dropdown-menu dropdown-menu-dark">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-sm-2" type="search" placeholder="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<!-- If the user is authenticated, show the profile button -->
				<a href="{{ path('app_profile') }}" class="btn btn-primary">Profile</a>
			{% else %}
				<!-- If the user is not authenticated, show the login button -->
				<a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>
			{% endif %}
		</div>
	</div>
</nav>
