{% include 'base.html.twig'%}
<div>
        <a href="/collections/bao">
           <img srcset="{{ asset('images/Bao_Album_Drop_Desktop_Banner.webp') }}" loading="lazy" alt="" width="2600" height="1100.0" class="img-fluid"></a>
      </div>